<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <p>Бэтмен (англ. Batman), изначально Бэт-мен
        (англ. Bat-man «Человек — летучая мышь») — вымышленный персонаж,
        супергерой, персонаж комиксов издательства DC Comics, впервые появившийся в
        Detective Comics («Детективные комиксы») № 27 в мае 1939 года. Наряду с Суперменом, Бэтмен является одним из самых
        популярных и известных героев комиксов. Был создан художником Бобом Кейном в соавторстве с писателем Биллом Фингером.
        До недавнего времени Боб Кейн считался главным создателем персонажа, но после многих исследований, в 2015 году авторство
        было передано Биллу Фингеру, так как настоящий вклад Кейна в создание героя был весьма незначительным.</p>
    <P>Go to <a href="contacts">contacts</a> </P>
    <P>Go to <a href="greeting">greeting</a> </P>
    <P>Go to <a href="http://localhost:8080/">homepage</a> </P>
</head>
<body>

</body>
</html>